html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
    background: -webkit-radial-gradient(circle, #fff, #ccc);
    background: -o-radial-gradient(circle, #fff, #ccc);
    background: -moz-radial-gradient(circle, #fff, #ccc);
    font-family: "Courier New", Courier, mono;
    font-size: 14px;
}

#container{
    height: 400px;
    width: 550px;
    background-color: #92d0ff;
    margin:100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #5da0ff;
    -moz-box-shadow: 0px 4px 0px 0px #5da0ff;
    -webkit-box-shadow: 0px 4px 0px 0px #5da0ff;
    position: relative;
}

#score{
    background-color: #fffaa9;
    color: #808080;
    padding: 11px;
    position: absolute;
    font-weight: bold;
    left: 470px;
    box-shadow: 0px 4px 0px 0px #8e9d47;
    -moz-box-shadow: 0px 4px 0px 0px #8e9d47;
    -webkit-box-shadow: 0px 4px 0px 0px #8e9d47;
}

#correct{
    position: absolute;
    left: 260px;
    background-color: #81ce97;
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    left: 250px;
    background-color: #f54e52;
    color: white;
    padding: 11px;
    display: none;
}

#question{
    width: 450px;
    height: 150px;
    margin: 50px auto 10px auto;
    background-color: #d6d0ff;
    box-shadow: 0px 4px 0px #846c8c;
    -moz-box-shadow: 0px 4px 0px #846c8c;
    -webkit-box-shadow: 0px 4px 0px #846c8c;
    text-align: center;
    font-size: 100px;
    color: black;
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: #db9aff;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 4px 0px #875f9c;
    -moz-box-shadow: 0px 4px 0px #875f9c;
    -webkit-box-shadow: 0px 4px 0px #875f9c;
}

#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover, #startReset:hover{
   /* background-color: lightgrey;
    color: white;
    box-shadow: 0px 4px 0px #808080;
    -moz-box-shadow: 0px 4px 0px #808080;
    -webkit-box-shadow: 0px 4px 0px #808080;*/
}

.box:active, #startReset:active{
    background-color: lightgrey;
    box-shadow: 0px 0px 0px #808080;
    -moz-box-shadow: 0px 0px 0px #808080;
    -webkit-box-shadow: 0px 0px 0px #808080;
    top: 4px;
}

#box4{
    margin-right: 0;
}

#startReset{
    width: 110px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#timeRemaining{
    width: 180px;
    padding: 10px;
    position: absolute;
    top: 395px;
    left: 375px;
    background-color: rgba(181, 235, 36, 0.7);
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    /*visibility: hidden;*/
    display: none;
}

#gameOver{
    height: 210px;
    width: 500px;
    background: linear-gradient(#F3CA6B, #ff9e47);
    background: -webkit-linear-gradient(#F3CA6B, #ff9e47);
    background: -o-linear-gradient(#F3CA6B, #ff9e47);
    background: -moz-linear-gradient(#F3CA6B, #ff9e47);
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 85px;
    left: 45px;
    z-index: 2;
    display: none;
}